.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries/*.*
.DS_Store
signing.properties
Kiosker/src/main/res/values/analytics.xml

Kiosker/src/main/java/dk/itu/kiosker/utils/FlurryCredentials.java

Kiosker/src/main/res/values/crashlytics_apikey.xml

Kiosker/crashlytics.properties

Kiosker/src/main/res/values/com_crashlytics_export_strings.xml

/build/

/Kiosker/src/main/assets/crashlytics-build.properties

Kiosker/src/main/java/dk/itu/kiosker/models/WifiCredentials.java
